<div class="content">
  <div class="container-fluid">
    <!-- <app-home></app-home> -->
    <router-outlet></router-outlet>
    </div>
  </div>   

   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <!-- <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">Dashboard</a>
      </div> -->
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button> -->
      
      <div class="collapse navbar-collapse justify-content-end">
        <form class="navbar-form" #forma>
          <div class="input-group no-border">
            <input type="text" value="" class="form-control" placeholder="Buscar..." #txtBuscar name="termino" [(ngModel)]="termino">
            <button (click)="buscar(txtBuscar.value)" type="submit" class="btn btn-white btn-round btn-just-icon">
              <i class="material-icons">search</i>
              <div class="ripple-container"></div>
            </button>
          </div>
        </form>
        <ul class="navbar-nav">
    
        </ul>
      </div>

    </div>
  </nav>

  <app-footer></app-footer>