<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand">Principales Peliculas Buscadas</a>
      </div>
    </div>
</nav>


<div class="mdc-card__actions">
  <div class="mdc-card__action-buttons">
    <button [routerLink]="['/home']" class="mdc-button mdc-card__action mdc-card__action--button"  >  <span class="mdc-button__ripple"></span> Volver al Home</button>
  </div>
</div>
<div class="row" >

<div  class="col-md-4"  *ngFor="let peli of pelicula">
   
    <div class="mdc-card demo-card mt-5" style="width: 70% !important;">
     <div class="mdc-card__primary-action demo-card__primary-action" tabindex="0">
       <div class="mdc-card__media mdc-card__media--10-9 demo-card__media mt-4">
         <img  [src]="peli | img" style="width: 56%;margin-left: 20% !important;" alt="" srcset="">
       </div>
       <div class="demo-card__primary">
         <h2 class="demo-card__title mdc-typography mdc-typography--headline6" style="margin-left: 1%; text-align: center;"> {{peli.original_title}}</h2>
        </div>
       <div class="demo-card__secondary mdc-typography mdc-typography--body2" style="margin-left: 1%; text-align: center;">Fecha de lanzamiento {{peli.release_date}} </div>
     </div>

   

   </div> 
   
 </div>

</div>